$theme := {
  primary: #304FFE
  accent: #ce93d8
  secondary: #323144
  info: #2196F3
  warning: #FFC107
  error: #F44336
  success: #4CAF50
  white: #fff
  grey: #9e9e9e
  paper_green: #00ffcb
  paper_dark_blue: #1c1b2e
}
